if !!textTitle
  h3.form__title=textTitle

.form__textarea-wrap
  textarea.form__textarea(required autofocus name='message' placeholder=textPlaceholder rows="1")
  button.button.form__button(value='submit' type='submit')=textButton