html {
  font-family: system-ui;
  font-size: 18px;
  line-height: 1.6;
}

body {
  background-color: #fff;
  color: #1d2129;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 100vh;
}
